<launch>
    <group ns="speech">
        <!-- Settings, can be customized -->
        <param name="STTdef" value="cmu" type="str" />
        <param name="TTSdef" value="flite" type="str" />

        <!-- Global parameters used by system to communicate events, don't change -->
        <param name="robotSpeaking" value="0" type="int" />
        <!-- 0 = disabled, 1 = conversation, 2 = keyword -->
        <param name="speechRecognitionMode" value="2" type="int" />

        <node name="speechSynthesis" pkg="rpi_robot" type="TTSsrv.py" />
        <node name="speechRecognition" pkg="rpi_robot" type="speechRecognitionPublisher.py" />

        <node name="dialogue" pkg="rpi_robot" type="dialogue.py" />

    </group>
</launch>
