<launch>

    <!-- <node pkg="differential_drive" type="virtual_joystick.py" name="virtual_joystick" output="screen"/> -->
    <node pkg="differential_drive" type="twist_to_motors.py" name="twist_to_motors" output="screen">
        <rosparam param="base_width">0.17</rosparam>
    </node>
    <!-- rosrun teleop_twist_keyboard teleop_twist_keyboard.py -->
    <!-- <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" output="screen"/> -->

</launch>
